body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
  
    clip: rect(0, 0, 0, 0);
}
  
.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/ice.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

  
.site-wrapper::before,
.site-wrapper::after {
    content: "";
  
    visibility: hidden;
}
  
.site-wrapper::before {
    background-image: url("../img/slider-item2.png");
}
  
.site-wrapper::after {
    background-image: url("../img/slider-item3.png");
}
  
.container {
    box-sizing: border-box;
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-left: 27px;
    padding-top: 8px;
}
  
.main-header {
    height: 50px;
}
  
.slider {
    position: relative;
    
    padding-top: 310px;
    
    text-align: center;
    color: #ffffff;
}
  
.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}
  
.slide {
    display: none;
}
  
.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}
  
.button {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76); 
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
  
.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
  
.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
  
.slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    
    font-size: 0;
}
  
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
  
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-item.png");
}
  
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-item2.png");
}
  
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-item3.png");
}
  
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
  
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.main-navigation {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: underline;
}

.site-navigation {
    width: 394px;
    height: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.site-navigation,
.user-navigation {
    list-style: none;
    display: flex;
}

.user-navigation {
    margin-left: 500px;
    line-height: 5px;
}

.site-navigation a,
.user-navigation a{
    color: #ffffff;
    padding-left: 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #F26843;
}

.header-info {
    color: #ffffff;
    text-align: right;
    width: auto;
    height: 100px;
}

.banners {
    display: flex;
    margin-top: 18px;
}

.button-banner-jam {
    margin-top: 25px;
    margin-left: 375px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    width: 165px;
    height: 50px;
    text-align: center;
    padding: 0;
}
.button-banner-chocolate {
    margin-top: 25px;
    margin-left: 345px;
    width: 190px;
    height: 45px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}

.raspberry {
    margin-top: 35px;
    margin-left: 15px;
    width: 316px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
}

.banner-info {
    margin-top: 32px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 515px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.banner-first {
    width: 560px;
    height: 230px;
    background: #ffffff;
    background-image: url("../img/raspberry-bg.png");
    background-repeat: repeat;
    border-radius: 15px;
}

.chocolate {
    margin-top: 35px;
    margin-left: 17px;
    width: 360px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
}

.banner-second {
    margin-left: 28px;
    width: 560px;
    height: 230px;
    background: #ffffff;
    background-image: url("../img/chocolate_bg.png");
    background-repeat: repeat;
    border-radius: 15px;
}

.catalog a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    align-items: center;
}

.hits {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 70px;
}

.main-catalog {
    width: 1151px;
    height: 1200px;
}

.row1 {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    padding-top: 25px;
    padding-bottom: 70px;
}

.row2 {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    padding-top: 25px;
    padding-bottom: 70px;
}

.row3 {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    padding-top: 25px;
    padding-bottom: 70px;
}

.main-catalog a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    align-items: center;
}

.lists {
    list-style: none;
}

.lists {
    display: flex;
    width: 190px;
    height: 28px;
    margin-top: 75px;
    text-align: right;
}

.lists a {
    color: #ffffff;
    padding-right: 5px;
}

.image1,
.image2,
.image3,
.image4 {
    width: 267px;
    height: 267px;
    margin-right: 25px;
}

.catalog {
    flex-wrap: wrap;
}

.about-magazine {
    margin-top: 25px;
    border-radius: 15px;
    width: 1150px;
    height: 300px;
    color: #000000;
    background-image: url("../img/waffle-big.png");
    background-repeat: repeat;
    
}

.magazine {
    padding-left: 20px;
}

.about-list {
    display: flex;
    list-style: none;
    padding: 0;
}

h3 {
    padding-top: 22px;
    width: 1043px;
    height: 50px;
    font-size: 24px;
    line-height: 33px;
}

.ice,
.cow,
.thermometer {
    margin-bottom: 24px;
    padding-right: 3px;
}

.eco {
    margin-bottom: 50px;
    padding-right: 3px;
    margin-top: 4px;
}

.thermometer {
    margin-bottom: 27px;
    margin-top: 4px;
}



.about-ice,
.about-eco {
    display: inline-block;
    width: 488px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.box2 {
    padding-left: 20px;
}

.about-cow {
    margin-top: 0px;
}

.about-cow,
.about-thermometer {
    display: inline-block;
    width: 482px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}


.news-mailing {
    padding-top: 50px;
    width: 1200;
    display: flex;
}

.news {
    padding-right: 235px;
    border-radius: 15px;
    height: 220px;
    width: 320px;
    color: #000000;
    background-image: url("../img/strauberry-bg.jpg");
    background-repeat: no-repeat;
}

h4 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

.news-item {
    margin-left: 20px;
    width: 309px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    display: inline-block;
}

.news-item:hover,
.news-item:focus {
    color: #F26843;
}

.mailing {
    margin-left: 30px;
    border-radius: 15px;
    height: 220px;
    width: 560px;
    color: #000000;
    background-image: url("../img/mailed.jpg");
    background-repeat: no-repeat;
}

.mailing-text {
    margin-top: 32px;
    width: 517px;
    margin-left: 27px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.map {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.login-form {
    margin-left: 15px;
    width: 371px;
    height: 45px;
    display: flex;
}


.email {
    padding-left: 10px;
    text-align: left;
    border-radius: 15px;
    width: 371px;
    height: 40px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.button-mail {
    padding-left: 15px;
    padding-top: 3px;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 10px;
    width: 141px;
    height: 46px;
    text-align: center;
}

.contact {
    border-radius: 15px;
    height: 308px;
    width: 305px;
    color: #000000;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.main-footer {
    display: flex;
    width: 1250px;
    margin: 0 auto;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    width: 186px;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.help {
    color: #ffffff;
    margin-left: 160px;
    width: 355px;
    height: 100px;
}

.footer-help{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
}

.footer-help a {
    color: #ffffff;
}

.info-column {
    margin-left: 15px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 160px;
    width: 219px;
    text-align: center;
}

.fillers {
    color: black;
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    width: 705px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 0.2;
}

.check {
    width: 24px;
    height: 20px;
    mix-blend-mode: normal;
}

.field{
    color: #FFFFFF;
}

.button-catalog {
    color: black;
    width: 146px;
    height: 39px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin-top: 29px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 50px;
}

.first-line {
    display: flex;
}

.second-line {
    display: flex;
}

.bread {
    margin-top: 60px;
}


.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    margin: 0; 
    padding: 0; /* Убираем отступы */
}

.breadcrumbs a{
    color: #ffffff;
}

.breadcrumbs li {
    display: inline-block; /* Выстраиваем по горизонтали */
}

.breadcrumbs li::before {
    content: '>>'; /* Разделитель */
    margin-left: 5px; /* Отступ слева */
    margin-right: 5px; /* Отступ справа */
    color: #ffffff; /* Цвет разделителя */
}

.breadcrumbs li:first-child::before {
    content: ''; /* Убираем разделитель для первого пункта */
}


.page {
    padding-left: 1000px;
}