body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849D8F;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0000);
    overflow: hidden;
}

.main-navigation {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.site-navigation,
.user-navigation {
    list-style: none;
    display: flex;
}

.user-navigation {
    margin-left: 500px;
    line-height: 5px;
}

.site-navigation a,
.user-navigation a{
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #F26843;
}

.header-info {
    text-align: right;
}

.button {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    
    
    background-color: #E74A35;
    border: none;
    border-radius: 50px;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #F26843;
}

.button-slider {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    width: 282px;
    height: 66px;
    left: 459px;
    top: 541px;
    margin-left: 459px;
}

.slider-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}

.banners {
    display: flex;
}

.button-banner-jam {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    width: 168px;
    height: 49px;
}
.button-banner-chocolate {
    
    width: 192px;
    height: 48px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.raspberry {
    margin-left: 20px;
    width: 316px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
}

.banner-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 515px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.banner-first {
    width: 560px;
    height: 230px;
    background: #ffffff;
    background-image: url("../img/raspberry-bg.png");
    background-repeat: repeat;
    border-radius: 15px;
}

.chocolate {
    margin-left: 20px;
    width: 360px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
}

.banner-second {
    margin-left: 80px;
    width: 560px;
    height: 230px;
    background: #ffffff;
    background-image: url("../img/chocolate_bg.png");
    background-repeat: repeat;
    border-radius: 15px;
}

.about-magazine {
    margin: auto;
    border-radius: 15px;
    width: 1200px;
    height: 325px;
    color: #000000;
    background-image: url("../img/waffle-big.png");
    background-repeat: repeat;
    
}

.about-list {
    display: flex;
    list-style: none;
}

h3 {
    margin-left: 20px;
    padding-top: 10px;
    width: 1043px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
}

.about-ice,
.about-eco {
    margin-left: 10px;
    display: inline-block;
    width: 488px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.box2 {
    padding-left: 20px;
}

.about-cow,
.about-thermometer {
    margin-left: 10px;
    display: inline-block;
    width: 482px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}


.news-mailing {
    padding-top: 50px;
    width: 1200;
    display: flex;
}

.news {
    padding-right: 235px;
    border-radius: 15px;
    height: 220px;
    width: 320px;
    color: #000000;
    background-image: url("../img/strauberry-bg.jpg");
    background-repeat: no-repeat;
}

h4 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

.news-item {
    margin-left: 20px;
    width: 309px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.news-item:hover,
.news-item:focus {
    color: #F26843;
}

.mailing {
    margin-left: 90px;
    border-radius: 15px;
    height: 220px;
    width: 560px;
    color: #000000;
    background-image: url("../img/mailed.jpg");
    background-repeat: no-repeat;
}

.mailing-text {
    width: 517px;
    margin-left:15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.login-form {
    width: 371px;
    height: 47px;
    display: flex;
    justify-content: center;
}

.button-mail {
    width: 141px;
    height: 46px;
    text-align: center;
}

.contact {
    border-radius: 15px;
    height: 308px;
    width: 305px;
    color: #000000;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.main-footer {
    display: flex;
    width: 1177px;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    width: 186px;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.help {
    color: #ffffff;
    margin-left: 160px;
    width: 355px;
    height: 100px;
}

.footer-help{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
}

.footer-help a {
    color: #ffffff;
}

.info-column {
    margin-left: 15px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 160px;
    width: 219px;
    text-align: center;
}
